<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{ order.customer }}
    <br>
    {{ order }}
    <br>
    <a href="{% url 'profile:order_delete' pk=order.id%}">Delete</a>
    <hr>
    {% for response in responses %}
    {{response}}
    {{response.executer}}
    <form method="post">{% csrf_token %}
      <input type="hidden" name="executer" value="{{response.executer}}">
      <input type="submit" value="Approved">
    </form>
    {% endfor %}
  </body>
</html>
